{% extends 'base.html' %}
{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/form.html' import render_field %}


{% block styles %}
{{ super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/notes.css')}}">

{% endblock %}

{% block title %}
<title>Notes_NotesAPP</title>
{% endblock %}

{% block content %}

    <div class="container-fluid ">
        <div class="row" style="height:92vh">
            <div class="col-md-2 pt-2  shadow">
                <a class="btn btn-outline-dark mt-1 " data-bs-toggle="modal" data-bs-target="#CreateNote"> <span
                        class="material-symbols-outlined">note_add</span><span class="ms-1">create note</span> </a>
                <ul class="nav flex-column nav-pills pt-2">
                    {{ render_nav_item('APP_NOTES.all_notes', 'Notes',_use_li=True) }}
                    {{ render_nav_item('APP_NOTES.pinned_notes', 'Pinned',_use_li=True) }}

                    {% for i in label_list  %}
                    {% set label_active = request.endpoint == 'APP_NOTES.notes_by_label' and request.view_args.get('label_id') == i.id %}
                    <li class="nav-item"><a class="nav-link {% if label_active %} active" aria-current="page{% endif %}" href="{{url_for('APP_NOTES.notes_by_label', label_id=i.id)}}">{{i.name}}</a></li>
                        
                    {% endfor %}
                    {{render_nav_item('APP_NOTES.view_labels','Manage Labels',_use_li=True)}}

                </ul>
            </div>

            <div class="col-md-10  pt-2 mx-auto ">
                <div class="row">
                {% block label_list_page %}
                    
                {% endblock  %}

                {% if single_note %}
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-6  card border border-black  rounded" style="background-color: {{single_note.colour}};">
                    <br>
                    <h6 class="p-2 text-center card-title">{{single_note.title}}</h6>
                    <p> {% for label in single_note.labels  %}
                                    <span class="badge text-bg-dark"> {{label.name}}</span>
                                {% endfor %}</p>
                    <div class="card-body">
                    
                        <textarea class="form-control-plaintext border rounded p-2" rows="13" readonly> {{single_note.content}}</textarea>
                        <br>
                        <h6 class="card-subtitle mb-2 text-muted"> last modified :{{single_note.updated_at}}</h6>
                        <a class="card-link"  href="{{url_for('APP_NOTES.pin_note', note_id=single_note.id)}}">
                        {% if single_note.is_pinned =='Y' %}
                            <span class="material-symbols-outlined text-warning">keep_off</span>
                        {% else %}
                            <span class="material-symbols-outlined text-warning">keep</span>
                        {% endif %}
                        </a>
                        <a class="card-link" data-bs-toggle="modal" data-bs-target="#ModifyNote"><span class="material-symbols-outlined">edit_square</span></a>
                        <a href="{{url_for('APP_NOTES.delete_note', id=single_note.id)}}" class="card-link"><span class="material-symbols-outlined text-danger">delete</span></a>
                    
                    </div>
                    <br>


                </div>
                    
                {% endif %}
                {% if search_form %}
                    <div class="col-md-6 mx-auto ">
                        
                        <form method="POST">
                            {{ search_form.csrf_token() }}
                            <div class="input-group mb-3">
                                {{ search_form.search(class="form-control border-dark") }}
                                <button class="btn btn-outline-dark" type="submit" name="search_submit"><span
                                        class="material-symbols-outlined">search</span></button>

                            </div>
                        </form>

                        

                    </div>
                {% endif %}
                </div>
                {% if note_list %}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 pt-4 mt-1  rounded-top-5 " >



                    {% for note in note_list %}
                    <div class="col">
                            <div class="card  border-dark" style="width: 18rem; background-color: {{ note.colour }} ;" >
                                <div class="card-body">
                                    <h5 class="card-title">{{note.title}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted"> 
                                    {% for label in note.labels  %}
                                        <span class="badge text-bg-dark"> {{label.name}}</span>
                                    {% endfor %}
                                    </h6>
                                    <textarea class="card-text" style="height: 8rem;background-color: {{note.colour}}; border: none; scrollbar-width: none; width: 100%;" readonly>{{note.content|summary}}</textarea>
                                    <h6 class="card-subtitle mb-2 text-muted"> last modified :{{note.updated_at}}</h6>
                                    <a class="card-link"  href="{{url_for('APP_NOTES.pin_note', note_id=note.id)}}">
                                        {% if note.is_pinned =='Y' %}
                                            <span class="material-symbols-outlined text-warning " style="text-decoration: none;">keep_off</span>
                                        {% else %}
                                            <span class="material-symbols-outlined text-warning " style="text-decoration: none;">keep</span>
                                        {% endif %}</a>
                                    <a href="{{url_for('APP_NOTES.delete_note', id=note.id)}}" class="card-link"><span class="material-symbols-outlined text-danger">delete</span></a>
                                    <a class="card-link" href="{{url_for('APP_NOTES.view_note', note_id=note.id)}}"><span class="material-symbols-outlined">sticky_note_2</span></a>
                                </div>
                            </div>
                        
                    </div>
                    {% endfor %}



                </div>
                {% else %}
                {% if notes_message %}
                <div class=" position-absolute top-50 start-50 translate-middle">
                    <p class="fs-2 text-muted">{{notes_message}}</p>
                </div>
                {% endif %}

                {% endif %}

            </div>
        </div>






        <!-- Modal -->
        <div class="modal fade" id="CreateNote" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="CreateNoteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable ">
                <form method="POST" action="{{ url_for('APP_NOTES.create_note') }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="CreateNoteLabel">Notes Creation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ create_form.csrf_token() }}
                            {{ render_field(create_form.title, class="form-control") }}
                            {{ render_field(create_form.content, class="form-control") }}
                            {{ render_field(create_form.labels) }}
                            <div class="mb-3">
                                <label class="form-label">Choose a Color:</label>
                                <div class="d-flex flex-wrap">
                                    {% for color, name in create_form.color.choices %}
                                    <label class="form-check-label mx-1">
                                        <input type="radio" name="color" value="{{ color }}" class="btn-check"
                                            id="color-{{ color }}" autocomplete="off">
                                        <span class="btn rounded-circle p-3" style="background-color: {{ color }} ;"
                                            title="{{ name }}"></span>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{render_field(create_form.create, class="btn btn-primary")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% if modify_form %}
        <div class="modal fade" id="ModifyNote" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="ModifyNoteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable " id="ModifyNoteform" style="--notecolor:{{modify_form.color.data}}">
                {% from 'bootstrap5/form.html' import render_field %}
                <form method="POST" action="{{ url_for('APP_NOTES.modify_note') }}">
                    <div class="modal-content" id="Modify_modal_content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModifyNoteLabel">Note Modification</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ modify_form.csrf_token() }}
                            {{render_field(modify_form.id)}}
                            {{ render_field(modify_form.title, class="form-control") }}
                            {{ render_field(modify_form.content, class="form-control") }}
                            {{ render_field(modify_form.labels) }}
                            <div class="mb-3">
                                <label class="form-label">Choose a Color:</label>
                                <div class="d-flex flex-wrap">
                                    {% for color, name in modify_form.color.choices %}
                                    <label class="form-check-label mx-1">
                                        <input type="radio" name="color" value="{{ color }}" class="btn-check"
                                            id="color-{{ color }}" autocomplete="off">
                                        <span class="btn rounded-circle p-3" style="background-color: {{ color }} ;"
                                            title="{{ name }}"></span>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{render_field(modify_form.modify, class="btn btn-primary")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
            
        {% endif %}
    </div>

{% endblock %}

