{% extends 'base.html' %}

{% block title %} <title>Register</title> {% endblock %}

{% block styles %}
    {{ super()}}
    <style>
        .register-bg{
            background-image: url("{{url_for('static', filename='img/bg01.jpg')}}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 92.1vh;
            display: flex;
        }
    </style>
    
{% endblock  %}

{% block content %}
    
<div class="container-fluid">
    <div class="row register-bg">
        <div class="col-md-6 align-self-center mx-auto bg-dark text-light" style="--bs-bg-opacity: 0.8; border-radius: 20px;">
            <h1 class="text-center pt-1">Register</h1>
            {% from 'bootstrap5/form.html' import render_form %}
            {{ render_form(form) }}
            <br>
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <p>Already have Account ? <a href=" {{url_for('APP_USER.app_login') }}">Login</a></p>
        </div>
 
    

</div>
{% endblock  %}